/tfroles/terraform.tfvars
/tfroles/.terraform
/tfroles/.terraform.lock.hcl
/tfroles/terraform.tfstate
/tfroles/terraform.tfstate.backup

/roles_&_users/terraform.tfvars
/roles_&_users/.terraform
/roles_&_users/.terraform.lock.hcl
/roles_&_users/terraform.tfstate
/roles_&_users/terraform.tfstate.backup

/databese-connection/terraform.tfvars
/databese-connection/.terraform
/databese-connection/.terraform.lock.hcl
/databese-connection/terraform.tfstate
/databese-connection/terraform.tfstate.backup

/auth0-application/terraform.tfvars
/auth0-application/.terraform
/auth0-application/.terraform.lock.hcl
/auth0-application/terraform.tfstate
/auth0-application/terraform.tfstate.backup

/api-persmissons-roles-roles/terraform.tfvars
/api-persmissons-roles/.terraform
/api-persmissons-roles/.terraform.lock.hcl
/api-persmissons-roles/terraform.tfstate
/api-persmissons-roles/terraform.tfstate.backup

/terraform.tfvars
/.terraform
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/api-permissions-roles.tfvars